REDIS_HOST=redis
FAISS_PATH=/data/faiss
LLM_API=http://llm:9002
STT_API=http://stt:9000
TTS_API=http://tts:9001

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
#TWILIO_PUBLIC_BASE_URL=
SMS_DEFAULT_COUNTRY_CODE=+91
SMS_DRY_RUN=true
QR_IMAGE_DIR=backend/data/qr